body{
    background-color: #f0f8ff;
    color: #071727;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;
    background-color: #25518f;
    color: #f0f8ff;
    border-style: none;
}

input{
    height: 20px;
}